<% if signed_in? %>
	<!-- ログインしているときはフォローしている人のタイムラインを表示 -->
	<main class="timeline">
		<% if current_user.followings.present? %>
			<strong class="font-l text-center">
				Today's Post : <%= @todayPost %>
			</strong>
		<% else %>
			<strong class="font-l text-center">
				No Users<br>
				<%= link_to "Let's Follow!", search_path %>
			</strong>
		<% end %>
		<% @cloth.each do |cloth| %>
			<div class="contents-size-top border">
				<%= render 'clothes/index', clothes: cloth %>
			</div>
		<% end %>
	</main>
<% else %>
	<!-- ログインしていないときはTOPページ -->
	<main>
		<section class="section1">
			<div class="inner">
				<strong class="font-l text-center title">
					Welcome to InMyCloset
				</strong>
			</div>
		</section>
		<section class="section2">
			<strong class="font-m text-center">
				The "basic needs" for a human<br>
				being is food, shelter and clothing.<br>
			</strong>
		</section>
		<section class="section3">
			<strong class="font-m text-center">
				Fashion is essential for us.
			</strong>
		</section>
		<section class="section4">
			<strong class="font-m text-center">
				InMyCloset is the application<br>
				that makes fashion life happy.
			</strong>
		</section>
		<section class="section5">
			<div class="col-xs-4">
				<strong class="font-s text-center">
					<%= link_to "Search for users?", search_path, class: "link" %>
				</strong>
			</div>
			<div class="col-xs-4">
				<strong class="font-s text-center">
				<%= link_to "What is InMyCloset?", about_path, class: "link" %>
				</strong>
			</div>
			<div class="col-xs-4">
				<strong class="font-s text-center">
					<%= link_to "Sign up?", new_user_registration_path, class: "link" %>
				</strong>
			</div>
		</section>
	</main>
<% end %>