<!-- ログインしているときはフォローしている人のタイムラインを表示 -->
<% if signed_in? %>
	<main class="timeline">
		<section class="left">
			<!-- フォローしている人がいる時 -->
			<% if current_user.followings.present? %>
				<strong class="font-l text-center">
					<!-- 今日の投稿の件数表示 -->
					Today's Post : <%= @todayPost %>
					<% @timeline_clothes.each do |cloth| %>
						<div class="post" style="margin: 10px auto;">
							<%= render 'clothes/index', clothes: cloth %>
							<br>
						</div>
					<% end %>
				</strong>
			<!-- フォローしている人がいない時 -->
			<% else %>
				<strong class="font-l text-center">
					No Users<br>
					<%= link_to "Let's Follow!", search_path %>
				</strong>
			<% end %>
		</section>
		<section class="right">
			<div class="inner">
				<!-- フォローしている人の投稿画面(新着順) -->
				<%= link_to user_path(current_user.id) do %>
					<%= attachment_image_tag current_user, :profile_image, :fill, 200, 200, fallback: "no_image.png", size:'200x200', class: "user_image" %>
					<strong class="font-s text-center">
						<%= current_user.name %>
					</strong>
				<% end %>
				<br>
				<span class="atag text-center">
					<%= render 'relationships/follow_link', user: current_user %>
				</span>
			</div>
		</section>
	</main>
<% else %>
	<!-- ログインしていないときはTOPページ -->
	<main class="top">
		<section class="top-contents1">
			<div class="top-contents1-inner">
				<strong class="font-l text-center top-contents1-title">
					Welcome to InMyCloset
				</strong>
			</div>
		</section>
		<section class="top-contents2">
			<strong class="font-m text-center">
				The "basic needs" for a human<br>
				being is food, shelter and clothing.<br>
			</strong>
		</section>
		<section class="top-contents3">
			<strong class="font-m text-center">
				Fashion is essential for us.
			</strong>
		</section>
		<section class="top-contents4">
			<strong class="font-m text-center">
				InMyCloset is the application<br>
				that makes fashion life happy.
			</strong>
		</section>
		<section class="top-contents5">
			<div class="col-xs-4">
				<strong class="font-s text-center">
					<%= link_to "Search for users?", search_path, class: "link" %>
				</strong>
			</div>
			<div class="col-xs-4">
				<strong class="font-s text-center">
				<%= link_to "What is InMyCloset?", about_path, class: "link" %>
				</strong>
			</div>
			<div class="col-xs-4">
				<strong class="font-s text-center">
					<%= link_to "Sign up?", new_user_registration_path, class: "link" %>
				</strong>
			</div>
		</section>
	</main>
<% end %>