<% if signed_in? %>
	<% if cloth.favorited_by?(current_user) %>
		<%= link_to destroy_favorite_path(cloth.id), method: :delete, id: "favorites" do %>
			<%= icon 'fas', 'heart' %><%= cloth.favorites.count %>
		<% end %>
	<% else %>
		<%= link_to create_favorite_path(cloth.id), method: :post, id: "favorites" do %>
			<%= icon 'far', 'heart' %><%= cloth.favorites.count %>
		<% end %>
	<% end %>
<% else %>
	<span>&#x2661;<%= cloth.favorite.count %></span>
<% end %>