<!-- サインインしている時 -->
<% if signed_in? %>

	<!-- いいねしている時 -->
	<% if cloth.favorited_by?(current_user) %>
		<span class="atag">
			<%= link_to destroy_favorite_path(cloth.id), method: :delete, remote: true do %>
				<%= icon 'fas', 'heart', style: "color: red;", class: "font-xs" %>
				<span style="color: #292929;">
					<%= cloth.favorites.count %>
				</span>
			<% end %>
		</span>
	<!-- いいねしていない時 -->
	<% else %>
		<span class="atag">
			<%= link_to create_favorite_path(cloth.id), method: :post, remote: true do %>
				<%= icon 'far', 'heart', style: "color: red;", class: "font-xs" %>
				<span style="color: #292929;">
					<%= cloth.favorites.count %>
				</span>
			<% end %>
		</span>
	<% end %>
<!-- サインインしていない時 -->
<% else %>
	<span class="linknone">
		<%= link_to confirm_path do %>
			<%= icon 'far', 'heart', style: "color: red;", class: "font-xs" %>
			<span style="color: #292929;">
				<%= cloth.favorites.count %>
			</span>
		<% end %>
	</span>
<% end %>