<% if signed_in? %>
	<!-- サインインしている時 -->
	<% if cloth.favorited_by?(current_user) %>
		<!-- いいねしている時 -->
		<span class="atag">
			<%= link_to destroy_favorite_path(cloth.id), method: :delete, remote: true do %>
				<%= icon 'fas', 'heart', style: "color: red;", class: "font-xs" %>
				<span style="color: #292929;">
					<%= cloth.favorites.count %>
				</span>
			<% end %>
		</span>
	<% else %>
		<!-- いいねしていない時 -->
		<span class="atag">
			<%= link_to create_favorite_path(cloth.id), method: :post, remote: true do %>
				<%= icon 'far', 'heart', style: "color: red;", class: "font-xs" %>
				<span style="color: #292929;">
					<%= cloth.favorites.count %>
				</span>
			<% end %>
		</span>
	<% end %>
<% else %>
<!-- サインインしていない時 -->
	<span>&#x2661;<%= cloth.favorites.count %></span>
<% end %>