<div class="sign-box col-xs-4 col-xs-offset-4">
  <h2><strong>Sign in</strong></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table">
      <tr>
        <th>Email</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit "Sign in!", class: "btn btn-default common-btn" %>
    </div>
  <% end %>
  <br>
  <%= render "users/shared/links" %>
</div>