<div class="profile-edit-box clearfix">
	<h2><strong>Edit Profile</strong></h2>
	<%= form_with(model: @user) do |form| %>
		<div class="profile-edit-left">
			<div class="profile-edit-image">
			<%= attachment_image_tag @user, :profile_image, :fill, 500, 500, fallback: "no_image.png"  %>
			</div>
			<div class="edit-image">
				<h4><strong>Edit profile image</strong></h4>
				<%= form.attachment_field :profile_image %>
			</div>
		</div>
		<div class="profile-edit-right">
			<h4><strong>User Name</strong></h4>
			<%= form.text_field :name, style: "height: 25px; width: 300px;" %>

			<h4><strong>Introduction</strong></h4>
			<%= form.text_area :introduction, style: "height: 150px; width: 300px;" %><br>

			<%= form.submit "Update profile", class: "btn btn-default common-btn", style: "width: 300px;" %>
		</div>
	<% end %>
</div>