<div class="follow container">
	<strong class="font-l text-center follow-link">
		<%= link_to user_path(@user.id) do |user| %>
			<%= @user.name %>
			<%= attachment_image_tag @user, :profile_image, :fill, 120, 120, fallback: "no_image.png", size:'120x120', class: "user_image" %>
		<% end %>
	</strong>
	<ul class="follow-tab">
		<!-- フォローしている人を表示するタブ -->
		<li>
			<a href="#following">
				<strong class="font-s">
					Following
				</strong>
			</a>
		</li>
		<!-- フォロワーを表示するタブ -->
		<li>
			<a href="#follower">
				<strong class="font-s">
					Follower
				</strong>
			</a>
		</li>
	</ul>
	<div class="follow-contents" id="following">
		<!-- フォローしている人を表示する -->
		<strong class="text-center font-m">
			<%= @following.count %> people
		</strong>
		<% @following.each do |user| %>
			<div class="contents-size-auto">
				<%= render 'users/index', users: user %>
			</div>
		<% end %>
	</div>
	<div class="follow-contents" id="follower">
		<!-- フォロワーを表示する -->
		<strong class="text-center font-m">
			<%= @follower.count %> people
		</strong>
		<% @follower.each do |user| %>
			<div class="contents-size-auto">
				<%= render 'users/index', users: user %>
			</div>
		<% end %>
	</div>
</div>