<div class="clearfix profile-box">
	<div class="profile-box-left">
		<div class="profile-image">
			<%= attachment_image_tag @user, :profile_image, :fill, 500, 500, fallback: "no_image.png"  %>
		</div>
		<section class="profile-detail">
			<strong><%= @user.name %></strong><br>
			<span><%= @user.introduction %></span><br><br>
			<% if current_user == @user %>
				<%= link_to "Edit profile", edit_user_path(@user.id), class: "btn btn-default common-btn" %>
				<%= link_to "Add clothes", new_clothes_path, class: "btn btn-default common-btn" %>
			<% end %>
		</section>
	</div>
	<div class="profile-box-right">
		<% @user_clothes.each do |clothes| %>
			<!-- each文の回数で服のNoを表示 -->
			<% @each_times += 1 %>
			<div class="profile-cloth-box">
				<% if current_user == @user %>
					<%= link_to edit_clothes_path(clothes.id) do %>
						<%= attachment_image_tag clothes, :image, :fill, 150, 150, fallback: "no_image.png" %><br>
						<strong>No.<%= @each_times %></strong>
						<br>
						<strong>Category : </strong><%= clothes.category.category %><br>
						<strong>Brand : </strong><%= clothes.brand %><br>
						<strong>Size : </strong><%= clothes.size %>
					<% end %><br>
					<%= link_to "Delete", destroy_clothes_path(clothes.id), method: :delete, data: {confirm: "Really No.#{@each_times} delete？"}, class: "btn btn-danger", style: "width: 100%;" %>
				<% else %>
					<%= attachment_image_tag clothes, :image, :fill, 150, 150, fallback: "no_image.png" %><br>
					<strong>No.<%= @each_times %></strong>
					<br>
					<strong>Category : </strong><%= clothes.category.category %><br>
					<strong>Brand : </strong><%= clothes.brand %><br>
					<strong>Size : </strong><%= clothes.size %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>