<div class="clearfix profile-box">
	<div class="profile-box-left">
		<div class="profile-image">
			<%= attachment_image_tag @user, :profile_image, :fill, 500, 500, fallback: "no_image.png"  %>
		</div>
		<section class="profile-detail">
			<strong><%= @user.name %></strong><br>
		</section>
	</div>
	<div class="profile-box-right">
		<div class="upper" style="text-align: center;">
			<span style="font-size: 35px;"><strong>Introduction</strong></span>
			<br>
			<span class="introduction">
				<%= simple_format(@user.introduction) %>
			</span>
			<br>
			<%= link_to following_path(@user.id) do %>
				<span><strong style="font-size: 15px;">Following : </strong><%= @user.followings.count %></span>
			<% end %>
			<%= link_to follower_path(@user.id) do %>
				<span><strong style="font-size: 15px;">Follower : </strong><%= @user.followers.count %></span>
			<% end %>
			<br>
			<br>
			<% if current_user == @user %>
				<%= link_to "Edit profile", edit_user_path(@user.id), class: "btn btn-default common-btn" %>
				<%= link_to "Favorites", user_favorite_path(@user.id), class: "btn btn-default common-btn" %>
				<%= link_to "My Closet", cloth_path(@user.id), class: "btn common-btn" %>
			<% else %>
				<% if @user.followed_by?(current_user) %>
					<%= link_to "Following", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
				<% else %>
					<%= link_to "Follow", user_relationships_path(@user.id), method: :post, class: "btn btn-default" %>
				<% end %>
			<% end %>
		</div>
		<div class="lower">
			<% @categories.each do |category| %>
				<div style="width: 33%; float: left;">
					<strong style="font-size: 20px;"><%= category.category %> : </strong>
					<strong style="font-size: 20px;"><%= Cloth.where(user_id: current_user.id, category_id: category.id).count %></strong>
				</div>
			<% end %>
		</div>
	</div>
</div>