<main class="container profile">
	<section class="upper clearfix">
		<div class="left">
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.png", size:'300x300', class: "user_image" %>
		</div>
		<div class="right">
			<strong class="font-l text-center">
				<%= @user.name %>
			</strong>
			<br>
			<strong class="font-s text-center">
				<span id="follow_<%= @user.id %>">
					<% if current_user != @user %>
						<%= render 'relationships/follow' , user: @user %>
					<% end %>
				</span>
			</strong>
			<br>
			<span class="atag text-center follow" style="display: block; margin-bottom: 20px;">
				<%= link_to follow_path(@user.id) do %>
					<strong class="font-xs">
						Following :
						<%= @user.followings.count %>
					</strong>
				<% end %>
				<strong>/</strong>
				<%= link_to follow_path(@user.id) do %>
					<strong class="font-xs">
						Follower :
						<%= @user.followers.count %>
					</strong>
				<% end %>
			</span>
			<% if @user.introduction.present? %>
				<div class="font-xs introduction">
					<%= simple_format(@user.introduction) %>
				</div>
			<% end %>
			<span class="text-center" style="margin-top: 10px;">
				<% if current_user == @user %>
					<%= link_to "Add clothes", new_clothes_path, class: "btn done-btn" %>
					<%= link_to "Edit profile", edit_user_path(@user.id), class: "btn done-btn" %>
					<%= link_to "Favorites", user_favorite_path(@user.id), class: "btn done-btn" %>
				<% end %>
			</span>
		</div>
	</section>
	<section class="lower">
		<ul class="big-tab text-center">
			<li>
				<a href="#category">
					<strong class="font-xs">Category</strong>
				</a>
			</li>
			<li>
				<a href="#brand">
					<strong class="font-xs">Brand</strong>
				</a>
			</li>
		</ul>
		<div class="big-contents">
			<div id="category" class="big-contents-inner">
				<%= render 'clothes/category_tab', user: @user, categories: @categories %>
			</div>
			<div id="brand" class="big-contents-inner">
				<%= render 'clothes/brand_tab', times: @times, other_times: @other_times, user_cloth: @user_cloth, user: @user %>
			</div>
		</div>
	</section>
</main>