<main class="container mypage">
	<section class="upper clearfix">
		<div class="left">
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.png", size:'300x300', class: "user_image" %>
		</div>
		<div class="right">
			<strong class="font-l text-center">
				<%= @user.name %>
				<% if current_user == @user %>
					<%= link_to others_path(@user.id) do %>
						<%= icon 'fas', 'cog', style: "font-size: 30px;" %>
					<% end %>
				<% end %>
			</strong>
			<br>
			<strong class="font-s text-center">
				<span id="follow_<%= @user.id %>">
					<!-- 自分以外のページのみフォローボタンを表示 -->
					<% if current_user != @user %>
						<%= render 'relationships/follow' , user: @user %>
					<% end %>
				</span>
			</strong>
			<br>
			<span class="atag text-center" style="display: block; margin-bottom: 20px;">
				<!-- フォローフォロワーを表示 -->
				<%= render 'relationships/follow_link', user: @user %>
			</span>
			<% if @user.introduction.present? %>
				<div class="font-xs introduction">
					<%= simple_format(@user.introduction) %>
				</div>
			<% end %>
		</div>
	</section>
	<section class="lower">
		<span class="text-center" style="margin-top: 10px;">
			<!-- 自分の時のみ編集、追加、お気に入り一覧のボタンを表示 -->
			<% if current_user == @user %>
				<%= link_to "Add clothes", new_clothes_path, class: "btn done-btn profile-btn" %>
				<br>
			<% end %>
		</span>
		<br>
		<ul class="tab text-center">
			<li>
				<a href="#category">
					<strong class="font-xs">Category</strong>
				</a>
			</li>
			<li>
				<a href="#brand">
					<strong class="font-xs">Brand</strong>
				</a>
			</li>
		</ul>
		<div class="tab-contents">
			<div id="category" class="tab-contents-inner">
				<!-- カテゴリータブ部分のテンプレート -->
				<%= render 'clothes/category_tab', user: @user, categories: @categories %>
			</div>
			<div id="brand" class="tab-contents-inner">
				<!-- ブランドタブ部分のテンプレート -->
				<%= render 'clothes/brand_tab', times: @times, times2: @times2, cloth_brand: @user_cloth_brand, user: @user %>
			</div>
		</div>
	</section>
</main>