<strong class="font-bg text-center">My Page</strong>
<!-- プロフィール欄 -->
<div class="col-xs-12 clearfix">
	<div class="col-xs-3">
		<% @categories.each do |category| %>
			<strong class="font-sm">
				<%= category.category %> :
			</strong>
			<strong class="font-sm">
				<%= Cloth.where(user_id: @user.id, category_id: category.id).count %>
			</strong>
			<br>
		<% end %>
	</div>
	<div class="col-xs-3">
		<%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.png", size:'200x200', class: "user_image" %>
	</div>
	<div class="col-xs-6">
		<strong class="font-md text-center">
			<%= @user.name %>
			<span id="follow_<%= @user.id %>">
				<% if current_user != @user %>
					<%= render 'relationships/follow' , user: @user %>
				<% end %>
			</span>
		</strong>
		<br>
		<span class="atag text-center">
			<%= link_to following_path(@user.id) do %>
				<strong class="font-sm">
					Following :
					<%= @user.followings.count %>
				</strong>
			<% end %>
			<strong>/</strong>
			<%= link_to follower_path(@user.id) do %>
				<strong class="font-sm">
					Follower :
					<%= @user.followers.count %>
				</strong>
			<% end %>
		</span>
		<br>
		<strong class="font-md text-center">
			Introduction
		</strong>
		<br>
		<div class="font-sm introduction">
			<%= simple_format(@user.introduction) %>
		</div>
		<span class="text-center" style="margin-top: 10px;">
			<% if current_user == @user %>
				<%= link_to "Add Clothes", new_clothes_path, class: "btn done-btn" %>
				<%= link_to "Edit profile", edit_user_path(@user.id), class: "btn done-btn" %>
				<%= link_to "Favorites", user_favorite_path(@user.id), class: "btn done-btn" %>
			<% end %>
		</span>
	</div>
</div>
<!-- 投稿一覧 -->
<div class="col-xs-12">
	<div class="text-center" style="margin: 20px auto;">
		<%= form_tag(user_path(@user.id), :method => 'get') do %>
			<%= link_to "All Clothes", user_path(@user.id), class: "btn done-btn" %>
			<%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :category) %>
			<%= submit_tag "Search", class: "btn done-btn" %>
		<% end %>
	</div>
	<% if @user_cloth.blank? %>
		<strong class="font-bg text-center" style="margin: 30px 0;">No clothes.</strong>
	<% else %>
	<!-- ユーザー毎の投稿一覧 -->
		<% @user_cloth.each do |clothes| %>
			<span class="atag">
				<% if current_user == @user %>
				<!-- ユーザー本人のみ編集可 -->
					<%= link_to edit_clothes_path(clothes.id) do %>
						<div class="width4-auto box-border">
							<%= render 'clothes/index', clothes: clothes %>
						</div>
					<% end %>
				<% else %>
					<div class="width4-auto box-border">
						<%= render 'clothes/index', clothes: clothes %>
					</div>
				<% end %>
			</span>
		<% end %>
	<% end %>
</div>