<main class="container profile">
	<section class="upper clearfix">
		<div class="left">
			<%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.png", size:'300x300', class: "user_image" %>
		</div>
		<div class="right">
			<strong class="font-l text-center">
				<%= @user.name %>
			</strong>
			<br>
			<strong class="font-s text-center">
				<span id="follow_<%= @user.id %>">
					<% if current_user != @user %>
						<%= render 'relationships/follow' , user: @user %>
					<% end %>
				</span>
			</strong>
			<br>
			<span class="atag text-center follow" style="display: block; margin-bottom: 20px;">
				<%= link_to follow_path(@user.id) do %>
					<strong class="font-xs">
						Following :
						<%= @user.followings.count %>
					</strong>
				<% end %>
				<strong>/</strong>
				<%= link_to follow_path(@user.id) do %>
					<strong class="font-xs">
						Follower :
						<%= @user.followers.count %>
					</strong>
				<% end %>
			</span>
			<% if @user.introduction.present? %>
				<div class="font-xs introduction">
					<%= simple_format(@user.introduction) %>
				</div>
			<% end %>
			<span class="text-center" style="margin-top: 10px;">
				<% if current_user == @user %>
					<%= link_to "Add clothes", new_clothes_path, class: "btn done-btn" %>
					<%= link_to "Edit profile", edit_user_path(@user.id), class: "btn done-btn" %>
					<%= link_to "Favorites", user_favorite_path(@user.id), class: "btn done-btn" %>
				<% end %>
			</span>
		</div>
	</section>
	<section class="lower">
		<ul class="tab">
			<li id="tab_0">
				<a href="#0">
					<strong class="font-xs">
						All
					</strong>
					<strong class="font-xs">
						(<%= @user.cloths.count %>)
					</strong>
				</a>
			</li>
			<% @categories.each do |category| %>
				<li id="tab_<%= category.id %>">
					<a href="#<%= category.id %>">
						<strong class="font-xs">
							<%= category.category %>
						</strong>
						<strong class="font-xs">
							(<%= Cloth.where(user_id: @user.id, category_id: category.id).count %>)
						</strong>
					</a>
				</li>
			<% end %>
		</ul>
		<div class="tabContent">
			<div class="tab-contents" id="0">
				<% @user.cloths.each do |cloth| %>
					<div class="contents-size-auto">
						<%= render 'clothes/index', clothes: cloth %>
						<% if @user == current_user %>
							<%= link_to "Edit", edit_clothes_path(cloth.id), class: "btn done-btn" %>
							<%= link_to "Delete this cloth", destroy_clothes_path(cloth.id), data: { confirm: "Delete this #{cloth.brand} #{cloth.category.category.capitalize}?" }, method: :delete, class: "btn btn-danger" %>
						<% end %>
					</div>
				<% end %>
			</div>
			<% @categories.each do |category| %>
				<div class="tab-contents" id="<%= category.id %>">
					<% Cloth.where(user_id: @user.id, category_id: category.id).each do |clothes| %>
						<div class="contents-size-auto">
							<%= render 'clothes/index', clothes: clothes %>
							<% if @user == current_user %>
								<%= link_to "Edit", edit_clothes_path(clothes.id), class: "btn done-btn" %>
								<%= link_to "Delete this cloth", destroy_clothes_path(clothes.id), data: { confirm: "Delete this #{clothes.brand} #{clothes.category.category.capitalize}?" }, method: :delete, class: "btn btn-danger" %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
</main>