<div class="clearfix profile-box">
	<div class="profile-box-left">
		<div class="profile-image">
			<%= attachment_image_tag @user, :profile_image, :fill, 500, 500, fallback: "no_image.png"  %>
		</div>
		<section class="profile-detail">
			<strong><%= @user.name %></strong><br>
			<span><%= @user.introduction %></span><br><br>
			<% if current_user == @user %>
				<span class="btn btn-default"><%= link_to "プロフィールを編集", edit_user_path(@user.id) %></span><br><br>
				<span class="btn btn-default"><%= link_to "洋服を登録する", new_clothes_path %></span>
			<% end %>
		</section>
	</div>
	<div class="profile-box-right">
		<% @user_clothes.each do |clothes| %>
			<!-- each文の回数で服のNoを表示 -->
			<% @each_times += 1 %>
			<div class="profile-cloth-box">
				<% if current_user == @user %>
					<%= link_to edit_clothes_path(clothes.id) do %>
						<%= attachment_image_tag clothes, :image, :fill, 150, 150, fallback: "no_image.png" %><br>
						<strong>No.<%= @each_times %></strong>
						<br>
						<%= clothes.brand %>
						<%= clothes.size %>
						<%= clothes.category.category %>
					<% end %><br>
					<%= link_to "削除", destroy_clothes_path(clothes.id), method: :delete, data: {confirm: "No.#{@each_times}を削除しますか？"}, class: "btn btn-danger" %>
				<% else %>
					<%= attachment_image_tag clothes, :image, :fill, 150, 150, fallback: "no_image.png" %><br>
					<strong>No.<%= @each_times %></strong>
					<br>
					<%= clothes.brand %>
					<%= clothes.size %>
					<%= clothes.category.category %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>