<ul class="brand-tab">
	<% user_cloth.group_by(&:itself).each do |brand, num| %>
	<!-- 特定のユーザーの投稿のブランドの種類とその数を表示 -->
			<li>
				<a href="#<%= times %>">
					<!-- eachの回数をリンクにしている -->
					<strong class="font-xs">
						<%= brand %>
						(<%= num.count %>)
					</strong>
				</a>
			</li>
		<% times += 1 %>
		<!-- eachの回数 -->
	<% end %>
</ul>
<% user_cloth.group_by(&:itself).each do |brand, num| %>
	<div class="brand-contents">
		<div class="brand-contents-inner" id="<%= other_times %>">
			<!-- eachの回数を上記のaタグと一致させている(jQuery用) -->
			<% user.cloths.where(brand: brand).each do |cloth| %>
				<div class="contents-size-auto">
					<%= render 'clothes/index', clothes: cloth %>
					<!-- 投稿一覧のテンプレート -->
					<%= render 'clothes/edit_link', user: user, cloth: cloth %>
					<!-- 投稿に対して編集、削除ボタンのテンプレート -->
				</div>
			<% end %>
		</div>
	</div>
	<% other_times += 1 %>
	<!-- eachの回数 -->
<% end %>