<% user_cloth.group_by(&:itself).each do |brand, num| %>
	<ul class="small-tab">
		<li>
			<a href="#<%= times %>">
				<strong class="font-xs">
					<%= brand %>
					(<%= num.count %>)
				</strong>
			</a>
		</li>
	</ul>
	<% times += 1 %>
<% end %>
<% user_cloth.group_by(&:itself).each do |brand, num| %>
	<div class="small-contents">
		<div class="small-contents-inner" id="<%= other_times %>">
			<% user.cloths.where(brand: brand).each do |cloth| %>
				<div class="contents-size-auto">
					<%= render 'clothes/index', clothes: cloth %>
					<% if @user == current_user %>
						<%= link_to "Edit", edit_clothes_path(cloth.id), class: "btn done-btn" %>
						<%= link_to "Delete this cloth", destroy_clothes_path(cloth.id), data: { confirm: "Delete this #{cloth.brand} #{cloth.category.category.capitalize}?" }, method: :delete, class: "btn btn-danger" %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<% other_times += 1 %>
<% end %>