<ul class="category-tab">

	<!-- 特定のユーザーの服全件を表示するタブ -->
	<li>
		<a href="#category_0">
			<strong class="font-xs">
				All
			</strong>
			<strong class="font-xs">
				(<%= user.cloths.count %>)
			</strong>
		</a>
	</li>
	<% categories.each do |category| %>

		<!-- 特定のユーザーの服をカテゴリー毎に表示するタブ -->
		<li>
			<a href="#category_<%= category.id %>">
				<strong class="font-xs">
					<%= category.category %>
				</strong>
				<strong class="font-xs">
					(<%= Cloth.where(user_id: user.id, category_id: category.id).count %>)
				</strong>
			</a>
		</li>
	<% end %>
</ul>
<div class="category-contents">
	<div class="category-contents-inner" id="category_0">
		<% user.cloths.each do |cloth| %>
			<div class="contents-size-auto">

				<!-- 投稿一覧のテンプレート -->
				<%= render 'clothes/index', clothes: cloth %>

				<!-- 投稿に対して編集、削除ボタンのテンプレート -->
				<%= render 'clothes/edit_link', user: user, cloth: cloth %>
			</div>
		<% end %>
	</div>
	<% categories.each do |category| %>
		<div class="category-contents-inner" id="category_<%= category.id %>">
			<% Cloth.where(user_id: user.id, category_id: category.id).each do |clothes| %>
				<div class="contents-size-auto">

					<!-- 投稿一覧のテンプレート -->
					<%= render 'clothes/index', clothes: clothes %>

					<!-- 投稿に対して編集、削除ボタンのテンプレート -->
					<%= render 'clothes/edit_link', user: user, cloth: clothes %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>