<!-- 投稿そのものを表示 -->
<%= attachment_image_tag clothes, :image, :fill, 200, 200, class: "cloth_image" %>
<br>
<!-- 投稿した人の画像、名前とその人のページへのリンク -->
<span class="atag">
	<strong class="font-xs">
		<%= clothes.brand %>
	</strong>
	<br>
	<% unless controller.controller_name == 'users' && controller.action_name == 'show' %>
	<!-- マイページの時には投稿したユーザーの画像を表示しない -->
		<%= link_to user_path(clothes.user.id) do %>
			<%= attachment_image_tag clothes.user, :profile_image, :fill, 70, 70, fallback: "no_image.png", size:'70x70', class: "user_image" %>
			<span style="color: #292929;">
				<%= clothes.user.name %>
			</span>
		<% end %>
	<% end %>
</span>
<!-- いいね機能の部分テンプレート -->
<div id="favorites_<%= clothes.id %>" class="font-xs" style="display: inline-block;">
	<%= render 'favorites/fav', cloth: clothes %>
</div>
<br>
<!-- フォロー機能の部分テンプレート -->
<% if controller.controller_name != "top" && controller.controller_name != "users" %>
	<% if current_user != clothes.user %>
		<span id="follow_<%= clothes.user.id %>">
			<%= render 'relationships/follow' , user: clothes.user %>
		</span>
	<% end %>
<% end %>
<!-- topコントローラのみ時刻を表示 -->
<% if controller.controller_name == "top" %>
	<span class="time">
		<%= clothes.created_at.strftime("%m/%d/%H:%M") %>
	</span>
<% end %>