<div class="cloth-box">
	<strong style="font-size: 30px;"><%= clothes.brand %></strong><br>
	<strong style="font-size: 30px;"><%= clothes.category.category %></strong>
	<br>
	<%= attachment_image_tag clothes, :image, :fill, 200, 200, class: "timeline_cloth" %>
	<%= link_to cloth_path(clothes.user.id) do %>
		<%= attachment_image_tag clothes.user, :profile_image, :fill, 70, 70, fallback: "no_image.png", size:'70x70', class: "user_image" %>
		<%= clothes.user.name %>
		<% if current_user != clothes.user %>
			<div id="follow_<%= clothes.user.id %>">
				<%= render 'relationships/follow' , user: clothes.user %>
			</div>
		<% end %>
		<div id="favorites_<%= clothes.id %>">
			<%= render 'favorites/fav', cloth: clothes %>
		</div>
	<% end %>
	<% if controller.controller_name == "top" %>
		<%= clothes.created_at %>
	<% end %>
</div>