<!-- 変更前 -->
<div class="col-xs-6" style="text-align: center;">
	<strong class="font-md">Before the edit</strong>
	<br>
	<%= attachment_image_tag @cloth, :image, :fill, 350, 350 %>
	<br>
	<strong>Category : </strong>
	<%= @cloth.category.category %>
	<br>
	<strong>Brand : </strong>
	<%= @cloth.brand %>
	<br>
	<strong>Size : </strong>
	<%= @cloth.size %>
</div>
<!-- 編集フォーム -->
<div class="col-xs-6">
	<strong class="font-md text-center">Edit clothes</strong>
	<br>
	<%= form_with(model: @cloth, url: edit_clothes_path) do |f| %>
		<!-- 入力フォームの部分テンプレート -->
		<%= render 'clothes/form', form: f %>
		<span class="atag">
			<%= link_to "Delete this clothes", destroy_clothes_path(@cloth.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
		</span>
	<% end %>
</div>