<div class="container clearfix">
	<!-- 変更前 -->
	<div class="before-edit text-center">
		<strong class="font-s">Before the edit</strong>
		<br>
		<%= attachment_image_tag @cloth, :image, :fill, 350, 350 %>
		<br>
		<strong>Category : </strong>
		<%= @cloth.category.category %>
		<br>
		<strong>Brand : </strong>
		<%= @cloth.brand %>
		<br>
		<strong>Size : </strong>
		<%= @cloth.size %>
	</div>
	<!-- 編集フォーム -->
	<div class="edit">
		<strong class="font-s text-center">Edit clothes</strong>
		<br>
		<%= form_with(model: @cloth, url: edit_clothes_path, local: true) do |f| %>
			<!-- 入力フォームの部分テンプレート -->
			<%= render 'clothes/form', form: f %>
			<!-- エラーメッセージの部分テンプレート -->
			<%= render 'layouts/error', obj: @cloth %>
			<%= f.submit "Update clothes", class: "btn done-btn" %>
			<span>
				<%= link_to "Back", user_path(current_user.id), class: "btn done-btn" %>
			</span>
			<span class="atag">
				<%= link_to "Delete this clothes", destroy_clothes_path(@cloth.id), data: { confirm: "Delete this #{@cloth.brand} #{@cloth.category.category.capitalize}?" }, method: :delete, class: "btn btn-danger" %>
			</span>
		<% end %>
	</div>
</div>