<div class="cloth-index">
	<% @clothes.each do |clothes| %>
		<div class="cloth-box">
			<%= attachment_image_tag clothes, :image, :fill, 200, 200, fallback: "no_image.png", class: "timeline_cloth" %><br>
			<%= clothes.brand %>
			<%= clothes.size %>
			<%= clothes.category.category %><br>
			<%= link_to user_path(clothes.user.id) do %>
				<%= attachment_image_tag clothes.user, :profile_image, :fill, 70, 70, fallback: "no_image.png", size:'70x70', class: "user_image" %>
				<%= clothes.user.name %>
				<%= render 'favorites/fav', cloth: clothes %>
			<% end %>
		</div>
	<% end %>
</div>
