<header class="header">
	<%= link_to root_path do %>
			<strong class="font-s title">InMyCloset</strong>
	<% end %>

	<!-- ログインしている時 -->
	<% if signed_in? %>
		<div class="header-links" style="float: right;">
			<strong class="links">
				<%= link_to "What is InMyCloset?", about_path %>
			</strong>
			<strong class="links">
				<%= link_to "My Page", user_path(current_user.id) %>
			</strong>
			<strong class="links">
				<%= link_to "Search", search_path %>
			</strong>
			<strong class="links">
				<%= link_to "Sign out", destroy_user_session_path, data: { confirm: "Sign out ?" }, method: :delete %>
			</strong>
			<%= icon 'fas', 'bars', id: "menu", class: "font-s" %>
			<%= link_to user_path(current_user.id) do %>
				<%= attachment_image_tag current_user, :profile_image, :fill, 38, 38, fallback: "no_image.png", size:'38x38', class: "user_image smartphone-only", style: "margin-top: 4px;" %>
			<% end %>
		</div>

	<!-- ログインしていない時 -->
	<% else %>
		<div class="header-links" style="float: right;">
			<strong class="links">
				<%= link_to "What is InMyCloset?", about_path %>
			</strong>
			<strong class="links">
				<%= link_to "Search", search_path %>
			</strong>
			<strong class="links">
				<%= link_to "Sign in!", new_user_session_path %>
			</strong>
			<strong class="links smartphone-link">
				<%= link_to "Sign up!", new_user_registration_path %>
			</strong>
			<%= icon 'fas', 'bars', id: "menu", class: "font-s" %>
		</div>
	<% end %>

	<!-- タブレットの時のみ表示 -->
	<%= render 'layouts/nav' %>
</header>